header {
    display: flex;
    align-items: center;
    background-color: rgba(231, 108, 31, 1);
    width: 100%;
    height: 128px;
    justify-content: center;
    position: absolute;
    z-index: 10;

    .header_content {
        display: flex;
        width: 100%;
        width: 1440px;
        justify-content: space-between;
        padding: 0 60px 0 120px;
    }
}

main {
    height: 100%;
}

#main_top {
    display: flex;
    justify-content: center;
    position: relative;

    .main_img {
        top: 64px;
        z-index: 9;
    }

    .main_logo {
        position: absolute;
        width: 200px;
        height: 200px;
        z-index: 9;
        top: 430px;
    }
}

#main_headline {
    display: flex;
    padding: 50px 284px 90px 284px;
    justify-content: center;
    flex-direction: column;
    top: 70px;
    align-items: center;

    p {
        font-family: 'Palanquin';
        font-weight: 700;
        font-size: 24px;
    }

    .headline_content {
        font-size: 48px;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

            
    .rating_icon {
        width: 110px;
        height: 32px;
    }

    h1 {
        position: relative;
        bottom: 7px;
        span {
            color: rgba(231, 108, 31, 1);
        }
    }

    }
}



