@media (max-width: 1230px) {
    #basket_container {
    display: none;
    }

    #mobile_nav {
        display: flex;
    }

    .main_img {
        width: 1000px;
        border-radius: 16px;
    }

    .dishes_banner {
        width: 100%;
    }
}

@media (max-width: 1439px) {
    #dishes_bs,
    #dishes_p,
    #dishes_s {
        width: 650px;
}
    .main_img {
        width: 768px;
        border-radius: 16px;
    }

    .main_logo img {
        width: 120px;
        height: 120px;
        bottom: 10px;
    }

    #main_headline {
        bottom: 10px;

        p {
            font-size: 22px;
            width: 375px;
            display: flex;
            text-align: center;
            margin-bottom: 60px;
        }

        .headline_content {
            font-size: 40px;
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
        }

        .rating_icon {
            margin-top: 40px;
        }
    }
}

@media (max-width: 900px) {

    .dishes_banner .banner_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;
        padding-left: 0;
        top: -25px;
    }

    .dishes_banner .banner_content img {
        width: 50px;
        height: auto;
        margin-top: 0;
    }

    .dishes_banner .banner_content h2 {
        font-size: 32px;
        margin: 0;
        line-height: 1.2;

        .sandwiches {
            display: none;
        }
    }

    header {
        height: 79px;

        .burger_menu_btn {
            display: none;
        }
    }

    .main_top_content {
        top: 48px;

        .main_img img {
            top: 200px;
            width: 768px;
            height: 600px;
            border-radius: 16px;
        }
    }

    .main_logo img {
        top: 50px;
        margin-bottom: 50px;
    }

    footer {
        width: 100%;
        justify-content: center;

        .footer_content {
            width: 100%;
            max-width: 1440px;
            display: flex;
            justify-content: center;
            padding: 0 max(calc(50% - 720px), 16px);
        }
    }

    .dish_card {
        flex-direction: column;
    }

    .dish_card img {
        width: 100%;
        height: 120px;
    }

    .dish_content {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .dish_left {
        display: flex;
        padding-left: 0;
        width: 100%;
    }

    .dish_right {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 8px;
        row-gap: 0;
        width: 100%;
    }

    .dish_price {
        justify-content: flex-start;
    }

    .dish_title {
        line-height: 1.2;
        max-width: 300px;
    }

    #dishes_bs,
    #dishes_p,
    #dishes_s {
        height: auto;
    }

    .container_content {
        width: 100%;
    }
}

@media (max-width: 375px) {
    #main_top .main_img {
        display: none;
    }

    #main_top .mobile_img {
        display: block;
        top: 64px;
    }

    .container_content {
        padding: 0;
    }
}
